$coreui-icons-font-path: "../fonts" !default;
$coreui-icons-prefix: "cui-" !default;

$icons: () !default;
$icons: map-merge((
  "apple": \ec0f,
  "birthday-cake": \ec10,
  "burger": \ec11,
  "coffee": \e97d,
  "dinner": \ec12,
  "drink": \ec13,
  "drink-alcohol": \ec14,
  "fastfood": \ec15,
  "lemon": \ea0f,
  "mug": \ec17,
  "mug-tea": \ec18,
  "pizza": \ec19,
  "restaurant": \ec1a,
  "battery-0": \e935,
  "battery-empty": \e935,
  "battery-3": \e9b4,
  "battery-5": \e9d7,
  "battery-full": \e9d7,
  "battery-alert": \eccc,
  "battery-slash": \ecd3,
  "bolt": \ecd5,
  "fire": \ecd9,
  "cat": \ec1c,
  "dog": \ec1d,
  "flower": \ec1e,
  "leaf": \ec1f,
  "eco": \ec1f,
  "plant": \ec1f,
  "paw": \ec20,
  "animal": \ec20,
  "terrain": \ec21,
  "american-football": \e900,
  "baseball": \e927,
  "basketball": \e929,
  "bowling": \e92a,
  "football": \e93a,
  "soccer": \e93a,
  "golf": \e942,
  "golf-alt": \e977,
  "rowing": \e984,
  "running": \e998,
  "swimming": \e999,
  "tennis": \e99c,
  "tennis-ball": \e9a6,
  "weightlifitng": \e9b1,
  "browser": \e947,
  "cast": \ec22,
  "cloud": \e978,
  "cloud-download": \e979,
  "cloud-upload": \e97a,
  "data-transfer-down": \e9a4,
  "data-transfer-up": \e9a5,
  "ethernet": \ec2a,
  "external-link": \e9c0,
  "https": \ec2d,
  "lan": \ec2e,
  "link": \ec2f,
  "link-alt": \ec30,
  "link-broken": \e946,
  "newspaper": \ea37,
  "paper-plane": \ea3d,
  "send": \ea3d,
  "rss": \ea6b,
  "share": \ea74,
  "share-all": \ea75,
  "share-alt": \ec35,
  "share-boxed": \ea76,
  "sitemap": \ea7c,
  "stream": \ea94,
  "transfer": \eaa3,
  "wifi-signal-0": \ec37,
  "wifi-signal-1": \ec38,
  "wifi-signal-2": \ec39,
  "wifi-signal-4": \ec3b,
  "wifi-signal-off": \ec41,
  "bank": \e934,
  "bath": \e959,
  "bathroom": \e959,
  "beach-access": \ea03,
  "bed": \eac9,
  "building": \e94a,
  "casino": \ec45,
  "child-friendly": \ec46,
  "baby-carriage": \ec46,
  "pushchair": \ec46,
  "couch": \ec48,
  "sofa": \ec48,
  "door": \ec49,
  "elevator": \e9b2,
  "fridge": \ec4a,
  "garage": \ec4b,
  "home": \e9f9,
  "hospital": \e9fa,
  "hot-tub": \ec4c,
  "house": \ec4e,
  "industry": \ec4f,
  "factory": \ec4f,
  "industry-slash": \ec50,
  "factory-slash": \ec50,
  "institution": \ec51,
  "library-building": \ec51,
  "medical-cross": \ec54,
  "pool": \ec55,
  "room": \ec56,
  "school": \ec58,
  "education": \ec58,
  "shower": \ec59,
  "smoke-free": \ec5a,
  "smoke-slash": \ec5a,
  "smoking-room": \ec5b,
  "smoke": \ec5b,
  "spa": \ec5c,
  "toilet": \ec5d,
  "wc": \ec5e,
  "window": \ec5f,
  "cloudy": \e97b,
  "moon": \ea34,
  "rain": \ea62,
  "snowflake": \ea7f,
  "sun": \ea95,
  "alarm": \eb02,
  "bell": \e938,
  "bullhorn": \e94b,
  "warning": \eab8,
  "asterisk": \ea64,
  "asterisk-circle": \ecf3,
  "badge": \e92c,
  "circle": \e971,
  "drop1": \ecf4,
  "heart": \e9f6,
  "puzzle": \ecf5,
  "rectangle": \ecf7,
  "scrubber": \ea72,
  "square": \ea8f,
  "star": \ea90,
  "star-half": \ea91,
  "triangle": \eaa5,
  "barcode": \e9db,
  "beaker": \e9e1,
  "bluetooth": \e9f3,
  "bug": \ea2b,
  "code": \ea2d,
  "devices": \ea47,
  "fax": \ea5f,
  "fork": \ea6f,
  "gamepad": \ea70,
  "input-hdmi": \ea7e,
  "input-power": \ea96,
  "keyboard": \eaaa,
  "laptop": \eaac,
  "lightbulb": \eaad,
  "memory": \eb78,
  "monitor": \eb7a,
  "mouse": \eb7b,
  "print": \eb7d,
  "qr-code": \eb80,
  "satelite": \eb82,
  "screen-desktop": \eb85,
  "screen-smartphone": \eb8c,
  "signal-cellular-0": \eb90,
  "signal-cellular-3": \eb93,
  "signal-cellular-4": \eb94,
  "tablet": \eb9c,
  "task": \eb9d,
  "terminal": \eb9e,
  "watch": \ec05,
  "3d": \e901,
  "aperture": \e903,
  "blur": \e906,
  "blur-circular": \e907,
  "blur-linear": \e908,
  "border-all": \e90b,
  "border-bottom": \e90c,
  "border-clear": \e90d,
  "border-horizontal": \e90e,
  "border-inner": \e90f,
  "border-left": \e910,
  "border-outer": \e911,
  "border-right": \e912,
  "border-style": \e913,
  "border-top": \e914,
  "border-vertical": \e915,
  "brush": \e916,
  "brush-alt": \e917,
  "camera-roll": \e918,
  "center-focus": \e919,
  "color-border": \e91b,
  "color-fill": \e91c,
  "color-palette": \e91d,
  "contrast": \e91f,
  "crop": \e920,
  "crop-rotate": \e921,
  "cursor": \e922,
  "cursor-move": \e923,
  "drop": \e924,
  "exposure": \e926,
  "eyedropper": \e930,
  "filter-frames": \e93c,
  "filter-photo": \e948,
  "flip": \e952,
  "flip-to-back": \e953,
  "flip-to-front": \e954,
  "gif": \e955,
  "gradient": \e956,
  "grain": \e960,
  "grid": \e961,
  "grid-slash": \e962,
  "hdr": \e963,
  "healing": \e99d,
  "image-broken": \e99f,
  "image-plus": \e9a0,
  "layers": \e9ad,
  "line-style": \e9af,
  "line-weight": \e9b9,
  "object-group": \e9bb,
  "object-ungroup": \e9c3,
  "opacity": \e9f4,
  "paint": \e9f7,
  "paint-bucket": \ea06,
  "swap-horizontal": \ea0e,
  "swap-vertical": \ea11,
  "vector": \ea16,
  "vertical-align-bottom1": \ea35,
  "vertical-align-center1": \ea3a,
  "vertical-align-top1": \ea3b,
  "align-center": \ea40,
  "align-left": \ea41,
  "align-right": \ea42,
  "bold": \ea43,
  "copy": \ea44,
  "cut": \ea61,
  "delete": \ea85,
  "backspace": \ea85,
  "double-quote-sans-left": \ea86,
  "double-quote-sans-right": \ea87,
  "excerpt": \ea8a,
  "expand-down": \ea9c,
  "expand-left": \ea9d,
  "expand-right": \ea9e,
  "expand-up": \eaa7,
  "font": \eaae,
  "functions": \eaaf,
  "functions-alt": \eab0,
  "header": \eb0e,
  "highlighter": \eb0f,
  "highligt": \eb10,
  "indent-decrease": \eb11,
  "indent-increase": \eb12,
  "info": \eb13,
  "italic": \eb14,
  "justify-center": \eb15,
  "justify-left": \eb16,
  "justify-right": \eb17,
  "level-down": \eb18,
  "level-up": \eb19,
  "line-spacing": \eb1a,
  "list": \eb1b,
  "list-filter": \eb1c,
  "list-high-priority": \eb1d,
  "list-low-priority": \eb1e,
  "list-numbered": \eb1f,
  "list-rich": \eb21,
  "notes": \eb22,
  "paragraph": \eb24,
  "pen-alt": \eb26,
  "pen-nib": \eb28,
  "pencil": \eb29,
  "short-text": \eb2a,
  "sort-alpha-down": \eb2b,
  "sort-alpha-up": \eb2c,
  "sort-ascending": \eb2d,
  "sort-descending": \eb2e,
  "sort-numeric-down": \eb2f,
  "sort-numeric-up": \eb30,
  "space-bar": \eb31,
  "text": \eb32,
  "text-shapes": \eb3d,
  "text-size": \eb3e,
  "text-square": \eb3f,
  "text-strike": \eb40,
  "strikethrough": \eb40,
  "translate": \eb42,
  "underline": \eb43,
  "vertical-align-bottom": \eb44,
  "vertical-align-center": \eb45,
  "vertical-align-top": \eb46,
  "wrap-text": \eb47,
  "assistive-listening-system": \e9d3,
  "blind": \e9dc,
  "braille": \e9dd,
  "deaf": \e9de,
  "fingerprint": \ea1a,
  "life-ring": \ea1d,
  "lock-locked": \ea1e,
  "lock-unlocked": \ea24,
  "low-vision": \ea25,
  "mouth-slash": \ea27,
  "pregnant": \ea28,
  "shield-alt": \ea2f,
  "sign-language": \ea77,
  "wheelchair": \ea80,
  "disabled": \ea80,
  "account-logout": \e964,
  "action-redo": \e965,
  "action-undo": \e966,
  "applications": \e967,
  "apps": \e967,
  "applications-settings": \e968,
  "apps-settings": \e968,
  "arrow-bottom": \e969,
  "arrow-circle-bottom": \e96a,
  "arrow-circle-left": \e96b,
  "arrow-circle-right": \e96c,
  "arrow-circle-top": \e96d,
  "arrow-left": \e96e,
  "arrow-right": \e96f,
  "arrow-thick-bottom": \e970,
  "arrow-thick-from-bottom": \e981,
  "arrow-thick-from-left": \e982,
  "arrow-thick-from-right": \e983,
  "arrow-thick-from-top": \e99b,
  "arrow-thick-left": \e9a1,
  "arrow-thick-right": \e9a2,
  "arrow-thick-to-bottom": \e9bc,
  "arrow-thick-to-left": \e9bd,
  "arrow-thick-to-right": \e9bf,
  "arrow-thick-to-top": \e9d4,
  "arrow-thick-top": \e9be,
  "arrow-top": \e9e4,
  "ban": \e9e5,
  "brightness": \e9e6,
  "caret-bottom": \ea2c,
  "caret-left": \ea30,
  "caret-right": \ea31,
  "caret-top": \ea3c,
  "check": \ea55,
  "chevron-bottom": \ea59,
  "chevron-circle-down-alt": \ecfc,
  "chevron-circle-left-alt": \ecfd,
  "chevron-circle-right-alt": \ecfe,
  "chevron-circle-up-alt": \ecff,
  "chevron-double-down": \ea6a,
  "chevron-double-left": \ea6e,
  "chevron-double-right": \ea73,
  "chevron-double-up": \ea8d,
  "chevron-double-up-alt": \ed03,
  "chevron-left": \ea8e,
  "chevron-right": \ea9a,
  "chevron-top": \eabd,
  "clear-all": \eabe,
  "clipboard": \eac0,
  "clone": \eac1,
  "columns": \eb4b,
  "exit-to-app": \eb4d,
  "filter": \eb4e,
  "infinity": \eb4f,
  "input": \eb50,
  "magnifying-glass": \eb51,
  "zoom": \eb51,
  "search": \eb51,
  "menu": \ed0b,
  "hamburger-menu": \ed0b,
  "minus": \eb52,
  "move": \eb56,
  "options": \ecdc,
  "options-horizontal": \eb57,
  "ellipses": \eb57,
  "ellipsis": \eb57,
  "pin": \eb5a,
  "plus": \eb5b,
  "power-standby": \eb5f,
  "reload": \eb60,
  "resize-both": \eb61,
  "resize-height": \eb62,
  "resize-width": \eb63,
  "save": \eb65,
  "settings": \eb68,
  "cog": \eb68,
  "speedometer": \eb69,
  "gauge": \eb69,
  "spreadsheet": \eb6a,
  "storage": \eb6b,
  "sync": \eb6c,
  "toggle-off": \eb71,
  "touch-app": \eb73,
  "trash": \eb74,
  "view-column": \ebf6,
  "view-module": \ebf7,
  "view-quilt": \ebf8,
  "view-stream": \ebf9,
  "wallpaper": \ebfa,
  "window-maximize": \ebfc,
  "window-minimize": \ebfd,
  "window-restore": \ebfe,
  "x": \ebff,
  "x-circle": \ec00,
  "zoom-in": \ec02,
  "zoom-out": \ec03,
  "child": \e97e,
  "baby": \e97e,
  "face": \e985,
  "face-dead": \e986,
  "frown": \e987,
  "sad": \e987,
  "meh": \e988,
  "mood-bad": \e989,
  "mood-good": \e98a,
  "mood-very-bad": \e98b,
  "mood-very-good": \e98c,
  "smile": \e9c4,
  "happy": \e9c4,
  "smile-plus": \e9da,
  "4k": \ea81,
  "airplay": \ea82,
  "album": \ea83,
  "audio": \ea93,
  "audio-description": \eaa2,
  "audio-spectrum": \eaa8,
  "av-timer": \eab1,
  "camera": \eab2,
  "camera-control": \eab3,
  "control": \eab3,
  "closed-captioning": \eab9,
  "cc": \eab9,
  "compress": \eb4a,
  "equalizer": \eba0,
  "featured-playlist": \ec6c,
  "fullscreen": \ec73,
  "fullscreen-exit": \ec74,
  "hd": \ec75,
  "headphones": \ec76,
  "library-add": \ec7a,
  "loop": \ec7c,
  "loop-1": \ec7d,
  "loop-circular": \ec7e,
  "media-eject": \ec80,
  "media-pause": \ec83,
  "media-play": \ec86,
  "media-record": \ec89,
  "media-skip-backward": \ec8c,
  "media-skip-forward": \ec8f,
  "media-step-backward": \ec92,
  "media-step-forward": \ec95,
  "media-stop": \ec98,
  "microphone": \ec9b,
  "mic": \ec9b,
  "movie": \ec9f,
  "music-note": \eca1,
  "playlist-add": \eca6,
  "speaker": \ecb9,
  "tv": \ecbc,
  "video": \ecc0,
  "voice-over-record": \ecc7,
  "volume-high": \ecc9,
  "volume-low": \ecca,
  "volume-off": \eccb,
  "at": \e98f,
  "book": \e990,
  "bookmark": \e992,
  "description": \eba6,
  "envelope-closed": \e9b5,
  "envelope-letter": \e9b6,
  "envelope-open": \e9b7,
  "file": \e9c5,
  "find-in-page": \ebaa,
  "folder": \e9d8,
  "folder-open": \e9d9,
  "image1": \e9fe,
  "inbox": \ea00,
  "library": \ebb0,
  "paperclip": \ea3e,
  "tag": \ea97,
  "tags": \ea98,
  "address-book": \ec07,
  "people": \ec62,
  "user": \ec67,
  "user-female": \ec68,
  "user-follow": \ec69,
  "user-unfollow": \ec6b,
  "android": \ecdd,
  "angular": \ecde,
  "bootstrap": \ecdf,
  "codepen": \ece0,
  "copyright": \ece1,
  "facebook": \ece2,
  "git": \ece3,
  "github": \ece4,
  "github-circle": \ece5,
  "gitlab": \ece6,
  "instagram": \ece7,
  "linkedin": \ece8,
  "polymer": \ece9,
  "react": \ecea,
  "reddit": \eceb,
  "registered": \ecec,
  "rights": \ecec,
  "skype": \eced,
  "spotify": \ecee,
  "stackoverflow": \ecef,
  "trademark": \ecf0,
  "twitter": \ecf1,
  "vue": \ecf2,
  "airplane-mode": \e904,
  "airplane-mode-off": \e905,
  "contact": \e933,
  "dialpad": \e93f,
  "mobile": \ea48,
  "mobile-landscape": \e944,
  "phone": \e94f,
  "sim": \e972,
  "bike": \eae6,
  "boat-alt": \eae9,
  "bus-alt": \eaeb,
  "car-alt": \eaee,
  "flight-takeoff": \eaf2,
  "locomotive": \eaf3,
  "taxi": \eafa,
  "truck": \eb00,
  "walk": \eb01,
  "calendar": \e994,
  "calendar-check": \e995,
  "clock": \e9aa,
  "compass": \e9ab,
  "flag-alt": \ec0a,
  "globe-alt": \ea32,
  "history": \e9f8,
  "language": \ea0c,
  "location-pin": \ea17,
  "map": \ea20,
  "balance-scale": \eac6,
  "bar-chart": \eaca,
  "basket": \eacb,
  "briefcase": \ead0,
  "british-pound": \ebb9,
  "calculator": \ebbc,
  "cart": \ebc0,
  "chart": \ebc5,
  "chart-line": \ebc9,
  "chart-pie": \ebcb,
  "credit-card": \ebce,
  "dollar": \ebcf,
  "euro": \ebd4,
  "gem": \eb48,
  "diamond": \eb48,
  "gift": \eb49,
  "graph": \ebd8,
  "money": \ec0d,
  "cash": \ec0d,
  "wallet": \ebe5,
  "yen": \ebe6,
  "chat-bubble": \ead1,
  "comment-bubble": \ead4,
  "comment-square": \eadd,
  "speech": \ead2,
  "hand-point-down": \e9ea,
  "hand-point-left": \e9eb,
  "hand-point-right": \e9ec,
  "hand-point-up": \e9ed,
  "thumb-down": \ea9f,
  "thumb-up": \eaa0,
), $icons);
