$icomoon-font-path: "fonts" !default;

$cui-basket-loaded: \e900;
$cui-bell: \e901;
$cui-calculator: \e902;
$cui-calendar: \e903;
$cui-camera: \e904;
$cui-chart: \e905;
$cui-cloud-download: \e906;
$cui-cursor: \e907;
$cui-cursor-move: \e908;
$cui-drop: \e909;
$cui-energy: \e90a;
$cui-envelope-letter: \e90b;
$cui-equalizer: \e90c;
$cui-globe: \e90d;
$cui-graph: \e90e;
$cui-home: \e90f;
$cui-layers: \e910;
$cui-list: \e911;
$cui-location-pin: \e912;
$cui-map: \e913;
$cui-note: \e914;
$cui-options: \e915;
$cui-pencil: \e916;
$cui-people: \e917;
$cui-pie-chart: \e918;
$cui-puzzle: \e919;
$cui-screen-desktop: \e91a;
$cui-screen-smartphone: \e91b;
$cui-settings: \e91c;
$cui-social-facebook: \e91d;
$cui-social-skype: \e91e;
$cui-social-twitter: \e91f;
$cui-speech: \e920;
$cui-speedometer: \e921;
$cui-star: \e922;
$cui-user: \e923;
$cui-user-female: \e924;
$cui-user-follow: \e925;
$cui-user-unfollow: \e926;
