$coreui-icons-font-path: "../fonts" !default;
$coreui-icons-prefix: "cui-" !default;

$icons: () !default;
$icons: map-merge((
  "cui-apple": \ec0f,
  "cui-birthday-cake": \ec10,
  "cui-burger": \ec11,
  "cui-coffee": \e97d,
  "cui-dinner": \ec12,
  "cui-drink": \ec13,
  "cui-drink-alcohol": \ec14,
  "cui-fastfood": \ec15,
  "cui-lemon": \ea0f,
  "cui-mug": \ec17,
  "cui-mug-tea": \ec18,
  "cui-pizza": \ec19,
  "cui-restaurant": \ec1a,
  "cui-battery-0": \e935,
  "cui-battery-empty": \e935,
  "cui-battery-3": \e9b4,
  "cui-battery-5": \e9d7,
  "cui-battery-full": \e9d7,
  "cui-battery-alert": \eccc,
  "cui-battery-slash": \ecd3,
  "cui-bolt": \ecd5,
  "cui-fire": \ecd9,
  "cui-cat": \ec1c,
  "cui-dog": \ec1d,
  "cui-flower": \ec1e,
  "cui-leaf": \ec1f,
  "cui-eco": \ec1f,
  "cui-plant": \ec1f,
  "cui-paw": \ec20,
  "cui-animal": \ec20,
  "cui-terrain": \ec21,
  "cui-american-football": \e900,
  "cui-baseball": \e927,
  "cui-basketball": \e929,
  "cui-bowling": \e92a,
  "cui-football": \e93a,
  "cui-soccer": \e93a,
  "cui-golf": \e942,
  "cui-golf-alt": \e977,
  "cui-rowing": \e984,
  "cui-running": \e998,
  "cui-swimming": \e999,
  "cui-tennis": \e99c,
  "cui-tennis-ball": \e9a6,
  "cui-weightlifitng": \e9b1,
  "cui-browser": \e947,
  "cui-cast": \ec22,
  "cui-cloud": \e978,
  "cui-cloud-download": \e979,
  "cui-cloud-upload": \e97a,
  "cui-data-transfer-down": \e9a4,
  "cui-data-transfer-up": \e9a5,
  "cui-ethernet": \ec2a,
  "cui-external-link": \e9c0,
  "cui-https": \ec2d,
  "cui-lan": \ec2e,
  "cui-link": \ec2f,
  "cui-link-alt": \ec30,
  "cui-link-broken": \e946,
  "cui-newspaper": \ea37,
  "cui-paper-plane": \ea3d,
  "cui-send": \ea3d,
  "cui-rss": \ea6b,
  "cui-share": \ea74,
  "cui-share-all": \ea75,
  "cui-share-alt": \ec35,
  "cui-share-boxed": \ea76,
  "cui-sitemap": \ea7c,
  "cui-stream": \ea94,
  "cui-transfer": \eaa3,
  "cui-wifi-signal-0": \ec37,
  "cui-wifi-signal-1": \ec38,
  "cui-wifi-signal-2": \ec39,
  "cui-wifi-signal-4": \ec3b,
  "cui-wifi-signal-off": \ec41,
  "cui-bank": \e934,
  "cui-bath": \e959,
  "cui-bathroom": \e959,
  "cui-beach-access": \ea03,
  "cui-bed": \eac9,
  "cui-building": \e94a,
  "cui-casino": \ec45,
  "cui-child-friendly": \ec46,
  "cui-baby-carriage": \ec46,
  "cui-pushchair": \ec46,
  "cui-couch": \ec48,
  "cui-sofa": \ec48,
  "cui-door": \ec49,
  "cui-elevator": \e9b2,
  "cui-fridge": \ec4a,
  "cui-garage": \ec4b,
  "cui-home": \e9f9,
  "cui-hospital": \e9fa,
  "cui-hot-tub": \ec4c,
  "cui-house": \ec4e,
  "cui-industry": \ec4f,
  "cui-factory": \ec4f,
  "cui-industry-slash": \ec50,
  "cui-factory-slash": \ec50,
  "cui-institution": \ec51,
  "cui-library-building": \ec51,
  "cui-medical-cross": \ec54,
  "cui-pool": \ec55,
  "cui-room": \ec56,
  "cui-school": \ec58,
  "cui-education": \ec58,
  "cui-shower": \ec59,
  "cui-smoke-free": \ec5a,
  "cui-smoke-slash": \ec5a,
  "cui-smoking-room": \ec5b,
  "cui-smoke": \ec5b,
  "cui-spa": \ec5c,
  "cui-toilet": \ec5d,
  "cui-wc": \ec5e,
  "cui-window": \ec5f,
  "cui-cloudy": \e97b,
  "cui-moon": \ea34,
  "cui-rain": \ea62,
  "cui-snowflake": \ea7f,
  "cui-sun": \ea95,
  "cui-alarm": \eb02,
  "cui-bell": \e938,
  "cui-bullhorn": \e94b,
  "cui-warning": \eab8,
  "cui-asterisk": \ea64,
  "cui-asterisk-circle": \ecf3,
  "cui-badge": \e92c,
  "cui-circle": \e971,
  "cui-drop1": \ecf4,
  "cui-heart": \e9f6,
  "cui-puzzle": \ecf5,
  "cui-rectangle": \ecf7,
  "cui-scrubber": \ea72,
  "cui-square": \ea8f,
  "cui-star": \ea90,
  "cui-star-half": \ea91,
  "cui-triangle": \eaa5,
  "cui-barcode": \e9db,
  "cui-beaker": \e9e1,
  "cui-bluetooth": \e9f3,
  "cui-bug": \ea2b,
  "cui-code": \ea2d,
  "cui-devices": \ea47,
  "cui-fax": \ea5f,
  "cui-fork": \ea6f,
  "cui-gamepad": \ea70,
  "cui-input-hdmi": \ea7e,
  "cui-input-power": \ea96,
  "cui-keyboard": \eaaa,
  "cui-laptop": \eaac,
  "cui-lightbulb": \eaad,
  "cui-memory": \eb78,
  "cui-monitor": \eb7a,
  "cui-mouse": \eb7b,
  "cui-print": \eb7d,
  "cui-qr-code": \eb80,
  "cui-satelite": \eb82,
  "cui-screen-desktop": \eb85,
  "cui-screen-smartphone": \eb8c,
  "cui-signal-cellular-0": \eb90,
  "cui-signal-cellular-3": \eb93,
  "cui-signal-cellular-4": \eb94,
  "cui-tablet": \eb9c,
  "cui-task": \eb9d,
  "cui-terminal": \eb9e,
  "cui-watch": \ec05,
  "cui-3d": \e901,
  "cui-aperture": \e903,
  "cui-blur": \e906,
  "cui-blur-circular": \e907,
  "cui-blur-linear": \e908,
  "cui-border-all": \e90b,
  "cui-border-bottom": \e90c,
  "cui-border-clear": \e90d,
  "cui-border-horizontal": \e90e,
  "cui-border-inner": \e90f,
  "cui-border-left": \e910,
  "cui-border-outer": \e911,
  "cui-border-right": \e912,
  "cui-border-style": \e913,
  "cui-border-top": \e914,
  "cui-border-vertical": \e915,
  "cui-brush": \e916,
  "cui-brush-alt": \e917,
  "cui-camera-roll": \e918,
  "cui-center-focus": \e919,
  "cui-color-border": \e91b,
  "cui-color-fill": \e91c,
  "cui-color-palette": \e91d,
  "cui-contrast": \e91f,
  "cui-crop": \e920,
  "cui-crop-rotate": \e921,
  "cui-cursor": \e922,
  "cui-cursor-move": \e923,
  "cui-drop": \e924,
  "cui-exposure": \e926,
  "cui-eyedropper": \e930,
  "cui-filter-frames": \e93c,
  "cui-filter-photo": \e948,
  "cui-flip": \e952,
  "cui-flip-to-back": \e953,
  "cui-flip-to-front": \e954,
  "cui-gif": \e955,
  "cui-gradient": \e956,
  "cui-grain": \e960,
  "cui-grid": \e961,
  "cui-grid-slash": \e962,
  "cui-hdr": \e963,
  "cui-healing": \e99d,
  "cui-image-broken": \e99f,
  "cui-image-plus": \e9a0,
  "cui-layers": \e9ad,
  "cui-line-style": \e9af,
  "cui-line-weight": \e9b9,
  "cui-object-group": \e9bb,
  "cui-object-ungroup": \e9c3,
  "cui-opacity": \e9f4,
  "cui-paint": \e9f7,
  "cui-paint-bucket": \ea06,
  "cui-swap-horizontal": \ea0e,
  "cui-swap-vertical": \ea11,
  "cui-vector": \ea16,
  "cui-vertical-align-bottom1": \ea35,
  "cui-vertical-align-center1": \ea3a,
  "cui-vertical-align-top1": \ea3b,
  "cui-align-center": \ea40,
  "cui-align-left": \ea41,
  "cui-align-right": \ea42,
  "cui-bold": \ea43,
  "cui-copy": \ea44,
  "cui-cut": \ea61,
  "cui-delete": \ea85,
  "cui-backspace": \ea85,
  "cui-double-quote-sans-left": \ea86,
  "cui-double-quote-sans-right": \ea87,
  "cui-excerpt": \ea8a,
  "cui-expand-down": \ea9c,
  "cui-expand-left": \ea9d,
  "cui-expand-right": \ea9e,
  "cui-expand-up": \eaa7,
  "cui-font": \eaae,
  "cui-functions": \eaaf,
  "cui-functions-alt": \eab0,
  "cui-header": \eb0e,
  "cui-highlighter": \eb0f,
  "cui-highligt": \eb10,
  "cui-indent-decrease": \eb11,
  "cui-indent-increase": \eb12,
  "cui-info": \eb13,
  "cui-italic": \eb14,
  "cui-justify-center": \eb15,
  "cui-justify-left": \eb16,
  "cui-justify-right": \eb17,
  "cui-level-down": \eb18,
  "cui-level-up": \eb19,
  "cui-line-spacing": \eb1a,
  "cui-list": \eb1b,
  "cui-list-filter": \eb1c,
  "cui-list-high-priority": \eb1d,
  "cui-list-low-priority": \eb1e,
  "cui-list-numbered": \eb1f,
  "cui-list-rich": \eb21,
  "cui-notes": \eb22,
  "cui-paragraph": \eb24,
  "cui-pen-alt": \eb26,
  "cui-pen-nib": \eb28,
  "cui-pencil": \eb29,
  "cui-short-text": \eb2a,
  "cui-sort-alpha-down": \eb2b,
  "cui-sort-alpha-up": \eb2c,
  "cui-sort-ascending": \eb2d,
  "cui-sort-descending": \eb2e,
  "cui-sort-numeric-down": \eb2f,
  "cui-sort-numeric-up": \eb30,
  "cui-space-bar": \eb31,
  "cui-text": \eb32,
  "cui-text-shapes": \eb3d,
  "cui-text-size": \eb3e,
  "cui-text-square": \eb3f,
  "cui-text-strike": \eb40,
  "cui-strikethrough": \eb40,
  "cui-translate": \eb42,
  "cui-underline": \eb43,
  "cui-vertical-align-bottom": \eb44,
  "cui-vertical-align-center": \eb45,
  "cui-vertical-align-top": \eb46,
  "cui-wrap-text": \eb47,
  "cui-assistive-listening-system": \e9d3,
  "cui-blind": \e9dc,
  "cui-braille": \e9dd,
  "cui-deaf": \e9de,
  "cui-fingerprint": \ea1a,
  "cui-life-ring": \ea1d,
  "cui-lock-locked": \ea1e,
  "cui-lock-unlocked": \ea24,
  "cui-low-vision": \ea25,
  "cui-mouth-slash": \ea27,
  "cui-pregnant": \ea28,
  "cui-shield-alt": \ea2f,
  "cui-sign-language": \ea77,
  "cui-wheelchair": \ea80,
  "cui-disabled": \ea80,
  "cui-account-logout": \e964,
  "cui-action-redo": \e965,
  "cui-action-undo": \e966,
  "cui-applications": \e967,
  "cui-apps": \e967,
  "cui-applications-settings": \e968,
  "cui-apps-settings": \e968,
  "cui-arrow-bottom": \e969,
  "cui-arrow-circle-bottom": \e96a,
  "cui-arrow-circle-left": \e96b,
  "cui-arrow-circle-right": \e96c,
  "cui-arrow-circle-top": \e96d,
  "cui-arrow-left": \e96e,
  "cui-arrow-right": \e96f,
  "cui-arrow-thick-bottom": \e970,
  "cui-arrow-thick-from-bottom": \e981,
  "cui-arrow-thick-from-left": \e982,
  "cui-arrow-thick-from-right": \e983,
  "cui-arrow-thick-from-top": \e99b,
  "cui-arrow-thick-left": \e9a1,
  "cui-arrow-thick-right": \e9a2,
  "cui-arrow-thick-to-bottom": \e9bc,
  "cui-arrow-thick-to-left": \e9bd,
  "cui-arrow-thick-to-right": \e9bf,
  "cui-arrow-thick-to-top": \e9d4,
  "cui-arrow-thick-top": \e9be,
  "cui-arrow-top": \e9e4,
  "cui-ban": \e9e5,
  "cui-brightness": \e9e6,
  "cui-caret-bottom": \ea2c,
  "cui-caret-left": \ea30,
  "cui-caret-right": \ea31,
  "cui-caret-top": \ea3c,
  "cui-check": \ea55,
  "cui-chevron-bottom": \ea59,
  "cui-chevron-circle-down-alt": \ecfc,
  "cui-chevron-circle-left-alt": \ecfd,
  "cui-chevron-circle-right-alt": \ecfe,
  "cui-chevron-circle-up-alt": \ecff,
  "cui-chevron-double-down": \ea6a,
  "cui-chevron-double-left": \ea6e,
  "cui-chevron-double-right": \ea73,
  "cui-chevron-double-up": \ea8d,
  "cui-chevron-double-up-alt": \ed03,
  "cui-chevron-left": \ea8e,
  "cui-chevron-right": \ea9a,
  "cui-chevron-top": \eabd,
  "cui-clear-all": \eabe,
  "cui-clipboard": \eac0,
  "cui-clone": \eac1,
  "cui-columns": \eb4b,
  "cui-exit-to-app": \eb4d,
  "cui-filter": \eb4e,
  "cui-infinity": \eb4f,
  "cui-input": \eb50,
  "cui-magnifying-glass": \eb51,
  "cui-zoom": \eb51,
  "cui-search": \eb51,
  "cui-menu": \ed0b,
  "cui-hamburger-menu": \ed0b,
  "cui-minus": \eb52,
  "cui-move": \eb56,
  "cui-options": \ecdc,
  "cui-options-horizontal": \eb57,
  "cui-ellipses": \eb57,
  "cui-ellipsis": \eb57,
  "cui-pin": \eb5a,
  "cui-plus": \eb5b,
  "cui-power-standby": \eb5f,
  "cui-reload": \eb60,
  "cui-resize-both": \eb61,
  "cui-resize-height": \eb62,
  "cui-resize-width": \eb63,
  "cui-save": \eb65,
  "cui-settings": \eb68,
  "cui-cog": \eb68,
  "cui-speedometer": \eb69,
  "cui-gauge": \eb69,
  "cui-spreadsheet": \eb6a,
  "cui-storage": \eb6b,
  "cui-sync": \eb6c,
  "cui-toggle-off": \eb71,
  "cui-touch-app": \eb73,
  "cui-trash": \eb74,
  "cui-view-column": \ebf6,
  "cui-view-module": \ebf7,
  "cui-view-quilt": \ebf8,
  "cui-view-stream": \ebf9,
  "cui-wallpaper": \ebfa,
  "cui-window-maximize": \ebfc,
  "cui-window-minimize": \ebfd,
  "cui-window-restore": \ebfe,
  "cui-x": \ebff,
  "cui-x-circle": \ec00,
  "cui-zoom-in": \ec02,
  "cui-zoom-out": \ec03,
  "cui-child": \e97e,
  "cui-baby": \e97e,
  "cui-face": \e985,
  "cui-face-dead": \e986,
  "cui-frown": \e987,
  "cui-sad": \e987,
  "cui-meh": \e988,
  "cui-mood-bad": \e989,
  "cui-mood-good": \e98a,
  "cui-mood-very-bad": \e98b,
  "cui-mood-very-good": \e98c,
  "cui-smile": \e9c4,
  "cui-happy": \e9c4,
  "cui-smile-plus": \e9da,
  "cui-4k": \ea81,
  "cui-airplay": \ea82,
  "cui-album": \ea83,
  "cui-audio": \ea93,
  "cui-audio-description": \eaa2,
  "cui-audio-spectrum": \eaa8,
  "cui-av-timer": \eab1,
  "cui-camera": \eab2,
  "cui-camera-control": \eab3,
  "cui-control": \eab3,
  "cui-closed-captioning": \eab9,
  "cui-cc": \eab9,
  "cui-compress": \eb4a,
  "cui-equalizer": \eba0,
  "cui-featured-playlist": \ec6c,
  "cui-fullscreen": \ec73,
  "cui-fullscreen-exit": \ec74,
  "cui-hd": \ec75,
  "cui-headphones": \ec76,
  "cui-library-add": \ec7a,
  "cui-loop": \ec7c,
  "cui-loop-1": \ec7d,
  "cui-loop-circular": \ec7e,
  "cui-media-eject": \ec80,
  "cui-media-pause": \ec83,
  "cui-media-play": \ec86,
  "cui-media-record": \ec89,
  "cui-media-skip-backward": \ec8c,
  "cui-media-skip-forward": \ec8f,
  "cui-media-step-backward": \ec92,
  "cui-media-step-forward": \ec95,
  "cui-media-stop": \ec98,
  "cui-microphone": \ec9b,
  "cui-mic": \ec9b,
  "cui-movie": \ec9f,
  "cui-music-note": \eca1,
  "cui-playlist-add": \eca6,
  "cui-speaker": \ecb9,
  "cui-tv": \ecbc,
  "cui-video": \ecc0,
  "cui-voice-over-record": \ecc7,
  "cui-volume-high": \ecc9,
  "cui-volume-low": \ecca,
  "cui-volume-off": \eccb,
  "cui-at": \e98f,
  "cui-book": \e990,
  "cui-bookmark": \e992,
  "cui-description": \eba6,
  "cui-envelope-closed": \e9b5,
  "cui-envelope-letter": \e9b6,
  "cui-envelope-open": \e9b7,
  "cui-file": \e9c5,
  "cui-find-in-page": \ebaa,
  "cui-folder": \e9d8,
  "cui-folder-open": \e9d9,
  "cui-image1": \e9fe,
  "cui-inbox": \ea00,
  "cui-library": \ebb0,
  "cui-paperclip": \ea3e,
  "cui-tag": \ea97,
  "cui-tags": \ea98,
  "cui-address-book": \ec07,
  "cui-people": \ec62,
  "cui-user": \ec67,
  "cui-user-female": \ec68,
  "cui-user-follow": \ec69,
  "cui-user-unfollow": \ec6b,
  "cui-android": \ecdd,
  "cui-angular": \ecde,
  "cui-bootstrap": \ecdf,
  "cui-codepen": \ece0,
  "cui-copyright": \ece1,
  "cui-facebook": \ece2,
  "cui-git": \ece3,
  "cui-github": \ece4,
  "cui-github-circle": \ece5,
  "cui-gitlab": \ece6,
  "cui-instagram": \ece7,
  "cui-linkedin": \ece8,
  "cui-polymer": \ece9,
  "cui-react": \ecea,
  "cui-reddit": \eceb,
  "cui-registered": \ecec,
  "cui-rights": \ecec,
  "cui-skype": \eced,
  "cui-spotify": \ecee,
  "cui-stackoverflow": \ecef,
  "cui-trademark": \ecf0,
  "cui-twitter": \ecf1,
  "cui-vue": \ecf2,
  "cui-airplane-mode": \e904,
  "cui-airplane-mode-off": \e905,
  "cui-contact": \e933,
  "cui-dialpad": \e93f,
  "cui-mobile": \ea48,
  "cui-mobile-landscape": \e944,
  "cui-phone": \e94f,
  "cui-sim": \e972,
  "cui-bike": \eae6,
  "cui-boat-alt": \eae9,
  "cui-bus-alt": \eaeb,
  "cui-car-alt": \eaee,
  "cui-flight-takeoff": \eaf2,
  "cui-locomotive": \eaf3,
  "cui-taxi": \eafa,
  "cui-truck": \eb00,
  "cui-walk": \eb01,
  "cui-calendar": \e994,
  "cui-calendar-check": \e995,
  "cui-clock": \e9aa,
  "cui-compass": \e9ab,
  "cui-flag-alt": \ec0a,
  "cui-globe-alt": \ea32,
  "cui-history": \e9f8,
  "cui-language": \ea0c,
  "cui-location-pin": \ea17,
  "cui-map": \ea20,
  "cui-balance-scale": \eac6,
  "cui-bar-chart": \eaca,
  "cui-basket": \eacb,
  "cui-briefcase": \ead0,
  "cui-british-pound": \ebb9,
  "cui-calculator": \ebbc,
  "cui-cart": \ebc0,
  "cui-chart": \ebc5,
  "cui-chart-line": \ebc9,
  "cui-chart-pie": \ebcb,
  "cui-credit-card": \ebce,
  "cui-dollar": \ebcf,
  "cui-euro": \ebd4,
  "cui-gem": \eb48,
  "cui-diamond": \eb48,
  "cui-gift": \eb49,
  "cui-graph": \ebd8,
  "cui-money": \ec0d,
  "cui-cash": \ec0d,
  "cui-wallet": \ebe5,
  "cui-yen": \ebe6,
  "cui-chat-bubble": \ead1,
  "cui-comment-bubble": \ead4,
  "cui-comment-square": \eadd,
  "cui-speech": \ead2,
  "cui-hand-point-down": \e9ea,
  "cui-hand-point-left": \e9eb,
  "cui-hand-point-right": \e9ec,
  "cui-hand-point-up": \e9ed,
  "cui-thumb-down": \ea9f,
  "cui-thumb-up": \eaa0,
), $icons);
