$coreui-icons-prefix: "cil-" !default;
$coreui-icons-font-path: "../fonts" !default;

$icons: (
  "3d": \ea01,
  "4k": \ea02,
  "account-logout": \ea03,
  "action-redo": \ea04,
  "action-undo": \ea05,
  "address-book": \ea06,
  "airplane-mode": \ea07,
  "airplane-mode-off": \ea08,
  "airplay": \ea09,
  "alarm": \ea0a,
  "album": \ea0b,
  "align-center": \ea0c,
  "align-left": \ea0d,
  "align-right": \ea0e,
  "american-football": \ea0f,
  "animal": \ea10,
  "aperture": \ea11,
  "apple": \ea12,
  "applications": \ea13,
  "applications-settings": \ea14,
  "apps": \ea15,
  "apps-settings": \ea16,
  "arrow-bottom": \ea17,
  "arrow-circle-bottom": \ea18,
  "arrow-circle-left": \ea19,
  "arrow-circle-right": \ea1a,
  "arrow-circle-top": \ea1b,
  "arrow-left": \ea1c,
  "arrow-right": \ea1d,
  "arrow-thick-bottom": \ea1e,
  "arrow-thick-from-bottom": \ea1f,
  "arrow-thick-from-left": \ea20,
  "arrow-thick-from-right": \ea21,
  "arrow-thick-from-top": \ea22,
  "arrow-thick-left": \ea23,
  "arrow-thick-right": \ea24,
  "arrow-thick-to-bottom": \ea25,
  "arrow-thick-to-left": \ea26,
  "arrow-thick-to-right": \ea27,
  "arrow-thick-to-top": \ea28,
  "arrow-thick-top": \ea29,
  "arrow-top": \ea2a,
  "assistive-listening-system": \ea2b,
  "asterisk": \ea2c,
  "asterisk-circle": \ea2d,
  "at": \ea2e,
  "audio": \ea2f,
  "audio-description": \ea30,
  "audio-spectrum": \ea31,
  "av-timer": \ea32,
  "baby": \ea33,
  "baby-carriage": \ea34,
  "backspace": \ea35,
  "badge": \ea36,
  "balance-scale": \ea37,
  "ban": \ea38,
  "bank": \ea39,
  "bar-chart": \ea3a,
  "barcode": \ea3b,
  "baseball": \ea3c,
  "basket": \ea3d,
  "basketball": \ea3e,
  "bath": \ea3f,
  "bathroom": \ea40,
  "battery-0": \ea41,
  "battery-3": \ea42,
  "battery-5": \ea43,
  "battery-alert": \ea44,
  "battery-empty": \ea45,
  "battery-full": \ea46,
  "battery-slash": \ea47,
  "beach-access": \ea48,
  "beaker": \ea49,
  "bed": \ea4a,
  "bell": \ea4b,
  "bell-exclamation": \ea4c,
  "bike": \ea4d,
  "birthday-cake": \ea4e,
  "blind": \ea4f,
  "bluetooth": \ea50,
  "blur": \ea51,
  "blur-circular": \ea52,
  "blur-linear": \ea53,
  "boat-alt": \ea54,
  "bold": \ea55,
  "bolt": \ea56,
  "bolt-circle": \ea57,
  "book": \ea58,
  "bookmark": \ea59,
  "border-all": \ea5a,
  "border-bottom": \ea5b,
  "border-clear": \ea5c,
  "border-horizontal": \ea5d,
  "border-inner": \ea5e,
  "border-left": \ea5f,
  "border-outer": \ea60,
  "border-right": \ea61,
  "border-style": \ea62,
  "border-top": \ea63,
  "border-vertical": \ea64,
  "bowling": \ea65,
  "braille": \ea66,
  "briefcase": \ea67,
  "brightness": \ea68,
  "british-pound": \ea69,
  "browser": \ea6a,
  "brush": \ea6b,
  "brush-alt": \ea6c,
  "bug": \ea6d,
  "building": \ea6e,
  "bullhorn": \ea6f,
  "burger": \ea70,
  "burn": \ea71,
  "bus-alt": \ea72,
  "calculator": \ea73,
  "calendar": \ea74,
  "calendar-check": \ea75,
  "camera": \ea76,
  "camera-control": \ea77,
  "camera-roll": \ea78,
  "car-alt": \ea79,
  "caret-bottom": \ea7a,
  "caret-left": \ea7b,
  "caret-right": \ea7c,
  "caret-top": \ea7d,
  "cart": \ea7e,
  "cash": \ea7f,
  "casino": \ea80,
  "cast": \ea81,
  "cat": \ea82,
  "cc": \ea83,
  "center-focus": \ea84,
  "chart": \ea85,
  "chart-line": \ea86,
  "chart-pie": \ea87,
  "chat-bubble": \ea88,
  "check": \ea89,
  "check-alt": \ea8a,
  "check-circle": \ea8b,
  "chevron-bottom": \ea8c,
  "chevron-circle-down-alt": \ea8d,
  "chevron-circle-left-alt": \ea8e,
  "chevron-circle-right-alt": \ea8f,
  "chevron-circle-up-alt": \ea90,
  "chevron-double-down": \ea91,
  "chevron-double-left": \ea92,
  "chevron-double-right": \ea93,
  "chevron-double-up": \ea94,
  "chevron-left": \ea95,
  "chevron-right": \ea96,
  "chevron-top": \ea97,
  "child": \ea98,
  "child-friendly": \ea99,
  "circle": \ea9a,
  "clear-all": \ea9b,
  "clipboard": \ea9c,
  "clock": \ea9d,
  "clone": \ea9e,
  "closed-captioning": \ea9f,
  "cloud": \eaa0,
  "cloud-download": \eaa1,
  "cloud-upload": \eaa2,
  "cloudy": \eaa3,
  "code": \eaa4,
  "coffee": \eaa5,
  "cog": \eaa6,
  "color-border": \eaa7,
  "color-fill": \eaa8,
  "color-palette": \eaa9,
  "columns": \eaaa,
  "command": \eaab,
  "comment-bubble": \eaac,
  "comment-square": \eaad,
  "compass": \eaae,
  "compress": \eaaf,
  "contact": \eab0,
  "contrast": \eab1,
  "control": \eab2,
  "copy": \eab3,
  "couch": \eab4,
  "credit-card": \eab5,
  "crop": \eab6,
  "crop-rotate": \eab7,
  "cursor": \eab8,
  "cursor-move": \eab9,
  "cut": \eaba,
  "data-transfer-down": \eabb,
  "data-transfer-up": \eabc,
  "deaf": \eabd,
  "delete": \eabe,
  "description": \eabf,
  "devices": \eac0,
  "dialpad": \eac1,
  "diamond": \eac2,
  "dinner": \eac3,
  "disabled": \eac4,
  "dog": \eac5,
  "dollar": \eac6,
  "door": \eac7,
  "double-quote-sans-left": \eac8,
  "double-quote-sans-right": \eac9,
  "drink": \eaca,
  "drink-alcohol": \eacb,
  "drop": \eacc,
  "eco": \eacd,
  "education": \eace,
  "elevator": \eacf,
  "envelope-closed": \ead0,
  "envelope-letter": \ead1,
  "envelope-open": \ead2,
  "equalizer": \ead3,
  "ethernet": \ead4,
  "euro": \ead5,
  "excerpt": \ead6,
  "exit-to-app": \ead7,
  "expand-down": \ead8,
  "expand-left": \ead9,
  "expand-right": \eada,
  "expand-up": \eadb,
  "exposure": \eadc,
  "external-link": \eadd,
  "eyedropper": \eade,
  "face": \eadf,
  "face-dead": \eae0,
  "factory": \eae1,
  "factory-slash": \eae2,
  "fastfood": \eae3,
  "fax": \eae4,
  "featured-playlist": \eae5,
  "file": \eae6,
  "filter": \eae7,
  "filter-frames": \eae8,
  "filter-photo": \eae9,
  "filter-square": \eaea,
  "filter-x": \eaeb,
  "find-in-page": \eaec,
  "fingerprint": \eaed,
  "fire": \eaee,
  "flag-alt": \eaef,
  "flight-takeoff": \eaf0,
  "flip": \eaf1,
  "flip-to-back": \eaf2,
  "flip-to-front": \eaf3,
  "flower": \eaf4,
  "folder": \eaf5,
  "folder-open": \eaf6,
  "font": \eaf7,
  "football": \eaf8,
  "fork": \eaf9,
  "fridge": \eafa,
  "frown": \eafb,
  "fullscreen": \eafc,
  "fullscreen-exit": \eafd,
  "functions": \eafe,
  "functions-alt": \eaff,
  "gamepad": \eb00,
  "garage": \eb01,
  "gem": \eb02,
  "gif": \eb03,
  "gift": \eb04,
  "globe-alt": \eb05,
  "golf": \eb06,
  "golf-alt": \eb07,
  "gradient": \eb08,
  "grain": \eb09,
  "graph": \eb0a,
  "grid": \eb0b,
  "grid-slash": \eb0c,
  "group": \eb0d,
  "hamburger-menu": \eb0e,
  "hand-point-down": \eb0f,
  "hand-point-left": \eb10,
  "hand-point-right": \eb11,
  "hand-point-up": \eb12,
  "happy": \eb13,
  "hd": \eb14,
  "hdr": \eb15,
  "header": \eb16,
  "headphones": \eb17,
  "healing": \eb18,
  "heart": \eb19,
  "highlighter": \eb1a,
  "highligt": \eb1b,
  "history": \eb1c,
  "home": \eb1d,
  "hospital": \eb1e,
  "hot-tub": \eb1f,
  "house": \eb20,
  "https": \eb21,
  "image": \eb22,
  "image-broken": \eb23,
  "image-plus": \eb24,
  "inbox": \eb25,
  "indent-decrease": \eb26,
  "indent-increase": \eb27,
  "industry": \eb28,
  "industry-slash": \eb29,
  "infinity": \eb2a,
  "info": \eb2b,
  "input": \eb2c,
  "input-hdmi": \eb2d,
  "input-power": \eb2e,
  "institution": \eb2f,
  "italic": \eb30,
  "justify-center": \eb31,
  "justify-left": \eb32,
  "justify-right": \eb33,
  "keyboard": \eb34,
  "lan": \eb35,
  "language": \eb36,
  "laptop": \eb37,
  "layers": \eb38,
  "leaf": \eb39,
  "lemon": \eb3a,
  "level-down": \eb3b,
  "level-up": \eb3c,
  "library": \eb3d,
  "library-add": \eb3e,
  "library-building": \eb3f,
  "life-ring": \eb40,
  "lightbulb": \eb41,
  "line-spacing": \eb42,
  "line-style": \eb43,
  "line-weight": \eb44,
  "link": \eb45,
  "link-alt": \eb46,
  "link-broken": \eb47,
  "list": \eb48,
  "list-filter": \eb49,
  "list-high-priority": \eb4a,
  "list-low-priority": \eb4b,
  "list-numbered": \eb4c,
  "list-numbered-rtl": \eb4d,
  "list-rich": \eb4e,
  "location-pin": \eb4f,
  "lock-locked": \eb50,
  "lock-unlocked": \eb51,
  "locomotive": \eb52,
  "loop": \eb53,
  "loop-1": \eb54,
  "loop-circular": \eb55,
  "low-vision": \eb56,
  "magnifying-glass": \eb57,
  "map": \eb58,
  "media-eject": \eb59,
  "media-pause": \eb5a,
  "media-play": \eb5b,
  "media-record": \eb5c,
  "media-skip-backward": \eb5d,
  "media-skip-forward": \eb5e,
  "media-step-backward": \eb5f,
  "media-step-forward": \eb60,
  "media-stop": \eb61,
  "medical-cross": \eb62,
  "meh": \eb63,
  "memory": \eb64,
  "menu": \eb65,
  "mic": \eb66,
  "microphone": \eb67,
  "minus": \eb68,
  "mobile": \eb69,
  "mobile-landscape": \eb6a,
  "money": \eb6b,
  "monitor": \eb6c,
  "mood-bad": \eb6d,
  "mood-good": \eb6e,
  "mood-very-bad": \eb6f,
  "mood-very-good": \eb70,
  "moon": \eb71,
  "mouse": \eb72,
  "mouth-slash": \eb73,
  "move": \eb74,
  "movie": \eb75,
  "mug": \eb76,
  "mug-tea": \eb77,
  "music-note": \eb78,
  "newspaper": \eb79,
  "note-add": \eb7a,
  "notes": \eb7b,
  "object-group": \eb7c,
  "object-ungroup": \eb7d,
  "opacity": \eb7e,
  "opentype": \eb7f,
  "options": \eb80,
  "paint": \eb81,
  "paint-bucket": \eb82,
  "paper-plane": \eb83,
  "paperclip": \eb84,
  "paragraph": \eb85,
  "paw": \eb86,
  "pen": \eb87,
  "pen-alt": \eb88,
  "pen-nib": \eb89,
  "pencil": \eb8a,
  "people": \eb8b,
  "phone": \eb8c,
  "pin": \eb8d,
  "pizza": \eb8e,
  "plant": \eb8f,
  "playlist-add": \eb90,
  "plus": \eb91,
  "pool": \eb92,
  "power-standby": \eb93,
  "pregnant": \eb94,
  "print": \eb95,
  "pushchair": \eb96,
  "puzzle": \eb97,
  "qr-code": \eb98,
  "rain": \eb99,
  "rectangle": \eb9a,
  "recycle": \eb9b,
  "reload": \eb9c,
  "report-slash": \eb9d,
  "resize-both": \eb9e,
  "resize-height": \eb9f,
  "resize-width": \eba0,
  "restaurant": \eba1,
  "room": \eba2,
  "router": \eba3,
  "rowing": \eba4,
  "rss": \eba5,
  "ruble": \eba6,
  "running": \eba7,
  "sad": \eba8,
  "satelite": \eba9,
  "save": \ebaa,
  "school": \ebab,
  "screen-desktop": \ebac,
  "screen-smartphone": \ebad,
  "scrubber": \ebae,
  "search": \ebaf,
  "send": \ebb0,
  "settings": \ebb1,
  "share": \ebb2,
  "share-all": \ebb3,
  "share-alt": \ebb4,
  "share-boxed": \ebb5,
  "shield-alt": \ebb6,
  "short-text": \ebb7,
  "shower": \ebb8,
  "sign-language": \ebb9,
  "signal-cellular-0": \ebba,
  "signal-cellular-3": \ebbb,
  "signal-cellular-4": \ebbc,
  "sim": \ebbd,
  "sitemap": \ebbe,
  "smile": \ebbf,
  "smile-plus": \ebc0,
  "smoke": \ebc1,
  "smoke-free": \ebc2,
  "smoke-slash": \ebc3,
  "smoking-room": \ebc4,
  "snowflake": \ebc5,
  "soccer": \ebc6,
  "sofa": \ebc7,
  "sort-alpha-down": \ebc8,
  "sort-alpha-up": \ebc9,
  "sort-ascending": \ebca,
  "sort-descending": \ebcb,
  "sort-numeric-down": \ebcc,
  "sort-numeric-up": \ebcd,
  "spa": \ebce,
  "space-bar": \ebcf,
  "speak": \ebd0,
  "speaker": \ebd1,
  "speech": \ebd2,
  "speedometer": \ebd3,
  "spreadsheet": \ebd4,
  "square": \ebd5,
  "star": \ebd6,
  "star-half": \ebd7,
  "storage": \ebd8,
  "stream": \ebd9,
  "strikethrough": \ebda,
  "sun": \ebdb,
  "swap-horizontal": \ebdc,
  "swap-vertical": \ebdd,
  "swimming": \ebde,
  "sync": \ebdf,
  "tablet": \ebe0,
  "tag": \ebe1,
  "tags": \ebe2,
  "task": \ebe3,
  "taxi": \ebe4,
  "tennis": \ebe5,
  "tennis-ball": \ebe6,
  "terminal": \ebe7,
  "terrain": \ebe8,
  "text": \ebe9,
  "text-shapes": \ebea,
  "text-size": \ebeb,
  "text-square": \ebec,
  "text-strike": \ebed,
  "thumb-down": \ebee,
  "thumb-up": \ebef,
  "toggle-off": \ebf0,
  "toggle-on": \ebf1,
  "toilet": \ebf2,
  "touch-app": \ebf3,
  "transfer": \ebf4,
  "translate": \ebf5,
  "trash": \ebf6,
  "triangle": \ebf7,
  "truck": \ebf8,
  "tv": \ebf9,
  "underline": \ebfa,
  "usb": \ebfb,
  "user": \ebfc,
  "user-female": \ebfd,
  "user-follow": \ebfe,
  "user-plus": \ebff,
  "user-unfollow": \ec00,
  "user-x": \ec01,
  "vector": \ec02,
  "vertical-align-bottom": \ec03,
  "vertical-align-center": \ec04,
  "vertical-align-top": \ec05,
  "video": \ec06,
  "videogame": \ec07,
  "view-column": \ec08,
  "view-module": \ec09,
  "view-quilt": \ec0a,
  "view-stream": \ec0b,
  "voice": \ec0c,
  "voice-over-record": \ec0d,
  "volume-high": \ec0e,
  "volume-low": \ec0f,
  "volume-off": \ec10,
  "walk": \ec11,
  "wallet": \ec12,
  "wallpaper": \ec13,
  "warning": \ec14,
  "watch": \ec15,
  "wc": \ec16,
  "weightlifitng": \ec17,
  "wheelchair": \ec18,
  "wifi-signal-0": \ec19,
  "wifi-signal-1": \ec1a,
  "wifi-signal-2": \ec1b,
  "wifi-signal-3": \ec1c,
  "wifi-signal-4": \ec1d,
  "wifi-signal-off": \ec1e,
  "window": \ec1f,
  "window-maximize": \ec20,
  "window-minimize": \ec21,
  "window-restore": \ec22,
  "wrap-text": \ec23,
  "x": \ec24,
  "x-circle": \ec25,
  "yen": \ec26,
  "zoom": \ec27,
  "zoom-in": \ec28,
  "zoom-out": \ec29,
) !default;