$coreui-icons-prefix: "cib-" !default;
$coreui-icons-font-path: "../fonts" !default;

$icons: (
  "500px": \ea01,
  "500px-5": \ea02,
  "about-me": \ea03,
  "abstract": \ea04,
  "acm": \ea05,
  "addthis": \ea06,
  "adguard": \ea07,
  "adobe": \ea08,
  "adobe-acrobat-reader": \ea09,
  "adobe-after-effects": \ea0a,
  "adobe-audition": \ea0b,
  "adobe-creative-cloud": \ea0c,
  "adobe-dreamweaver": \ea0d,
  "adobe-illustrator": \ea0e,
  "adobe-indesign": \ea0f,
  "adobe-lightroom": \ea10,
  "adobe-lightroom-classic": \ea11,
  "adobe-photoshop": \ea12,
  "adobe-premiere": \ea13,
  "adobe-typekit": \ea14,
  "adobe-xd": \ea15,
  "airbnb": \ea16,
  "algolia": \ea17,
  "alipay": \ea18,
  "allocine": \ea19,
  "amazon": \ea1a,
  "amazon-aws": \ea1b,
  "amazon-pay": \ea1c,
  "amd": \ea1d,
  "american-express": \ea1e,
  "anaconda": \ea1f,
  "analogue": \ea20,
  "android": \ea21,
  "android-alt": \ea22,
  "angellist": \ea23,
  "angular": \ea24,
  "angular-universal": \ea25,
  "ansible": \ea26,
  "apache": \ea27,
  "apache-airflow": \ea28,
  "apache-flink": \ea29,
  "apache-spark": \ea2a,
  "app-store": \ea2b,
  "app-store-ios": \ea2c,
  "apple": \ea2d,
  "apple-music": \ea2e,
  "apple-pay": \ea2f,
  "apple-podcasts": \ea30,
  "appveyor": \ea31,
  "aral": \ea32,
  "arch-linux": \ea33,
  "archive-of-our-own": \ea34,
  "arduino": \ea35,
  "artstation": \ea36,
  "arxiv": \ea37,
  "asana": \ea38,
  "at-and-t": \ea39,
  "atlassian": \ea3a,
  "atom": \ea3b,
  "audible": \ea3c,
  "aurelia": \ea3d,
  "auth0": \ea3e,
  "automatic": \ea3f,
  "autotask": \ea40,
  "aventrix": \ea41,
  "azure-artifacts": \ea42,
  "azure-devops": \ea43,
  "azure-pipelines": \ea44,
  "babel": \ea45,
  "baidu": \ea46,
  "bamboo": \ea47,
  "bancontact": \ea48,
  "bandcamp": \ea49,
  "basecamp": \ea4a,
  "bathasu": \ea4b,
  "behance": \ea4c,
  "big-cartel": \ea4d,
  "bing": \ea4e,
  "bit": \ea4f,
  "bitbucket": \ea50,
  "bitcoin": \ea51,
  "bitdefender": \ea52,
  "bitly": \ea53,
  "blackberry": \ea54,
  "blender": \ea55,
  "blogger": \ea56,
  "blogger-b": \ea57,
  "bluetooth": \ea58,
  "bluetooth-b": \ea59,
  "boeing": \ea5a,
  "boost": \ea5b,
  "bootstrap": \ea5c,
  "bower": \ea5d,
  "brand-ai": \ea5e,
  "brave": \ea5f,
  "btc": \ea60,
  "buddy": \ea61,
  "buffer": \ea62,
  "buy-me-a-coffee": \ea63,
  "buysellads": \ea64,
  "buzzfeed": \ea65,
  "c": \ea66,
  "cakephp": \ea67,
  "campaign-monitor": \ea68,
  "canva": \ea69,
  "cashapp": \ea6a,
  "cassandra": \ea6b,
  "castro": \ea6c,
  "cc-amazon-pay": \ea6d,
  "cc-amex": \ea6e,
  "cc-apple-pay": \ea6f,
  "cc-diners-club": \ea70,
  "cc-discover": \ea71,
  "cc-jcb": \ea72,
  "cc-mastercard": \ea73,
  "cc-paypal": \ea74,
  "cc-stripe": \ea75,
  "cc-visa": \ea76,
  "centos": \ea77,
  "cevo": \ea78,
  "chase": \ea79,
  "chef": \ea7a,
  "chromecast": \ea7b,
  "circle": \ea7c,
  "circleci": \ea7d,
  "cirrusci": \ea7e,
  "cisco": \ea7f,
  "civicrm": \ea80,
  "clockify": \ea81,
  "clojure": \ea82,
  "cloudbees": \ea83,
  "cloudflare": \ea84,
  "cmake": \ea85,
  "co-op": \ea86,
  "codacy": \ea87,
  "code-climate": \ea88,
  "codecademy": \ea89,
  "codecov": \ea8a,
  "codeigniter": \ea8b,
  "codepen": \ea8c,
  "coderwall": \ea8d,
  "codesandbox": \ea8e,
  "codeship": \ea8f,
  "codewars": \ea90,
  "codio": \ea91,
  "coffeescript": \ea92,
  "common-workflow-language": \ea93,
  "composer": \ea94,
  "conda-forge": \ea95,
  "conekta": \ea96,
  "confluence": \ea97,
  "coreui": \ea98,
  "coreui-c": \ea99,
  "coursera": \ea9a,
  "coveralls": \ea9b,
  "cpanel": \ea9c,
  "cplusplus": \ea9d,
  "creative-commons": \ea9e,
  "creative-commons-by": \ea9f,
  "creative-commons-nc": \eaa0,
  "creative-commons-nc-eu": \eaa1,
  "creative-commons-nc-jp": \eaa2,
  "creative-commons-nd": \eaa3,
  "creative-commons-pd": \eaa4,
  "creative-commons-pd-alt": \eaa5,
  "creative-commons-remix": \eaa6,
  "creative-commons-sa": \eaa7,
  "creative-commons-sampling": \eaa8,
  "creative-commons-sampling-plus": \eaa9,
  "creative-commons-share": \eaaa,
  "creative-commons-zero": \eaab,
  "crunchbase": \eaac,
  "crunchyroll": \eaad,
  "css3": \eaae,
  "css3-shiled": \eaaf,
  "csswizardry": \eab0,
  "d3-js": \eab1,
  "dailymotion": \eab2,
  "dashlane": \eab3,
  "dazn": \eab4,
  "dblp": \eab5,
  "debian": \eab6,
  "deepin": \eab7,
  "deezer": \eab8,
  "delicious": \eab9,
  "dell": \eaba,
  "deno": \eabb,
  "dependabot": \eabc,
  "designer-news": \eabd,
  "dev-to": \eabe,
  "deviantart": \eabf,
  "devrant": \eac0,
  "diaspora": \eac1,
  "digg": \eac2,
  "digital-ocean": \eac3,
  "discord": \eac4,
  "discourse": \eac5,
  "discover": \eac6,
  "disqus": \eac7,
  "disroot": \eac8,
  "django": \eac9,
  "docker": \eaca,
  "docusign": \eacb,
  "dot-net": \eacc,
  "draugiem-lv": \eacd,
  "dribbble": \eace,
  "drone": \eacf,
  "dropbox": \ead0,
  "drupal": \ead1,
  "dtube": \ead2,
  "duckduckgo": \ead3,
  "dynatrace": \ead4,
  "ebay": \ead5,
  "eclipseide": \ead6,
  "elastic": \ead7,
  "elastic-cloud": \ead8,
  "elastic-search": \ead9,
  "elastic-stack": \eada,
  "electron": \eadb,
  "elementary": \eadc,
  "eleventy": \eadd,
  "ello": \eade,
  "elsevier": \eadf,
  "emlakjet": \eae0,
  "empirekred": \eae1,
  "envato": \eae2,
  "epic-games": \eae3,
  "epson": \eae4,
  "esea": \eae5,
  "eslint": \eae6,
  "ethereum": \eae7,
  "etsy": \eae8,
  "event-store": \eae9,
  "eventbrite": \eaea,
  "evernote": \eaeb,
  "everplaces": \eaec,
  "evry": \eaed,
  "exercism": \eaee,
  "experts-exchange": \eaef,
  "expo": \eaf0,
  "eyeem": \eaf1,
  "f-secure": \eaf2,
  "facebook": \eaf3,
  "facebook-f": \eaf4,
  "faceit": \eaf5,
  "fandango": \eaf6,
  "favro": \eaf7,
  "feathub": \eaf8,
  "fedex": \eaf9,
  "fedora": \eafa,
  "feedly": \eafb,
  "fido-alliance": \eafc,
  "figma": \eafd,
  "filezilla": \eafe,
  "firebase": \eaff,
  "fitbit": \eb00,
  "flask": \eb01,
  "flattr": \eb02,
  "flickr": \eb03,
  "flipboard": \eb04,
  "flutter": \eb05,
  "fnac": \eb06,
  "foursquare": \eb07,
  "framer": \eb08,
  "freebsd": \eb09,
  "freecodecamp": \eb0a,
  "fur-affinity": \eb0b,
  "furry-network": \eb0c,
  "garmin": \eb0d,
  "gatsby": \eb0e,
  "gauges": \eb0f,
  "genius": \eb10,
  "gentoo": \eb11,
  "geocaching": \eb12,
  "gerrit": \eb13,
  "gg": \eb14,
  "ghost": \eb15,
  "gimp": \eb16,
  "git": \eb17,
  "gitea": \eb18,
  "github": \eb19,
  "gitkraken": \eb1a,
  "gitlab": \eb1b,
  "gitpod": \eb1c,
  "gitter": \eb1d,
  "glassdoor": \eb1e,
  "glitch": \eb1f,
  "gmail": \eb20,
  "gnu": \eb21,
  "gnu-privacy-guard": \eb22,
  "gnu-social": \eb23,
  "go": \eb24,
  "godot-engine": \eb25,
  "gog-com": \eb26,
  "goldenline": \eb27,
  "goodreads": \eb28,
  "google": \eb29,
  "google-ads": \eb2a,
  "google-allo": \eb2b,
  "google-analytics": \eb2c,
  "google-chrome": \eb2d,
  "google-cloud": \eb2e,
  "google-keep": \eb2f,
  "google-pay": \eb30,
  "google-play": \eb31,
  "google-podcasts": \eb32,
  "googles-cholar": \eb33,
  "gov-uk": \eb34,
  "gradle": \eb35,
  "grafana": \eb36,
  "graphcool": \eb37,
  "graphql": \eb38,
  "grav": \eb39,
  "gravatar": \eb3a,
  "greenkeeper": \eb3b,
  "greensock": \eb3c,
  "groovy": \eb3d,
  "groupon": \eb3e,
  "grunt": \eb3f,
  "gulp": \eb40,
  "gumroad": \eb41,
  "gumtree": \eb42,
  "habr": \eb43,
  "hackaday": \eb44,
  "hackerearth": \eb45,
  "hackerone": \eb46,
  "hackerrank": \eb47,
  "hackhands": \eb48,
  "hackster": \eb49,
  "happycow": \eb4a,
  "hashnode": \eb4b,
  "haskell": \eb4c,
  "hatena-bookmark": \eb4d,
  "haxe": \eb4e,
  "helm": \eb4f,
  "here": \eb50,
  "heroku": \eb51,
  "hexo": \eb52,
  "highly": \eb53,
  "hipchat": \eb54,
  "hitachi": \eb55,
  "hockeyapp": \eb56,
  "homify": \eb57,
  "hootsuite": \eb58,
  "hotjar": \eb59,
  "houzz": \eb5a,
  "hp": \eb5b,
  "html5": \eb5c,
  "html5-shield": \eb5d,
  "htmlacademy": \eb5e,
  "huawei": \eb5f,
  "hubspot": \eb60,
  "hulu": \eb61,
  "humble-bundle": \eb62,
  "iata": \eb63,
  "ibm": \eb64,
  "icloud": \eb65,
  "iconjar": \eb66,
  "icq": \eb67,
  "ideal": \eb68,
  "ifixit": \eb69,
  "imdb": \eb6a,
  "indeed": \eb6b,
  "inkscape": \eb6c,
  "instacart": \eb6d,
  "instagram": \eb6e,
  "instapaper": \eb6f,
  "intel": \eb70,
  "intellijidea": \eb71,
  "intercom": \eb72,
  "internet-explorer": \eb73,
  "invision": \eb74,
  "ionic": \eb75,
  "issuu": \eb76,
  "itch-io": \eb77,
  "jabber": \eb78,
  "java": \eb79,
  "javascript": \eb7a,
  "jekyll": \eb7b,
  "jenkins": \eb7c,
  "jest": \eb7d,
  "jet": \eb7e,
  "jetbrains": \eb7f,
  "jira": \eb80,
  "joomla": \eb81,
  "jquery": \eb82,
  "js": \eb83,
  "jsdelivr": \eb84,
  "jsfiddle": \eb85,
  "json": \eb86,
  "jupyter": \eb87,
  "justgiving": \eb88,
  "kaggle": \eb89,
  "kaios": \eb8a,
  "kaspersky": \eb8b,
  "kentico": \eb8c,
  "keras": \eb8d,
  "keybase": \eb8e,
  "keycdn": \eb8f,
  "khan-academy": \eb90,
  "kibana": \eb91,
  "kickstarter": \eb92,
  "kik": \eb93,
  "kirby": \eb94,
  "klout": \eb95,
  "known": \eb96,
  "ko-fi": \eb97,
  "kodi": \eb98,
  "koding": \eb99,
  "kotlin": \eb9a,
  "krita": \eb9b,
  "kubernetes": \eb9c,
  "lanyrd": \eb9d,
  "laravel": \eb9e,
  "laravel-horizon": \eb9f,
  "laravel-nova": \eba0,
  "last-fm": \eba1,
  "latex": \eba2,
  "launchpad": \eba3,
  "leetcode": \eba4,
  "lenovo": \eba5,
  "less": \eba6,
  "lets-encrypt": \eba7,
  "letterboxd": \eba8,
  "lgtm": \eba9,
  "liberapay": \ebaa,
  "librarything": \ebab,
  "libreoffice": \ebac,
  "line": \ebad,
  "linkedin": \ebae,
  "linkedin-in": \ebaf,
  "linux": \ebb0,
  "linux-foundation": \ebb1,
  "linux-mint": \ebb2,
  "livejournal": \ebb3,
  "livestream": \ebb4,
  "logstash": \ebb5,
  "lua": \ebb6,
  "lumen": \ebb7,
  "lyft": \ebb8,
  "macys": \ebb9,
  "magento": \ebba,
  "magisk": \ebbb,
  "mail-ru": \ebbc,
  "mailchimp": \ebbd,
  "makerbot": \ebbe,
  "manjaro": \ebbf,
  "markdown": \ebc0,
  "marketo": \ebc1,
  "mastercard": \ebc2,
  "mastodon": \ebc3,
  "material-design": \ebc4,
  "mathworks": \ebc5,
  "matrix": \ebc6,
  "mattermost": \ebc7,
  "matternet": \ebc8,
  "maxcdn": \ebc9,
  "mcafee": \ebca,
  "media-temple": \ebcb,
  "mediafire": \ebcc,
  "medium": \ebcd,
  "medium-m": \ebce,
  "meetup": \ebcf,
  "mega": \ebd0,
  "mendeley": \ebd1,
  "messenger": \ebd2,
  "meteor": \ebd3,
  "micro-blog": \ebd4,
  "microgenetics": \ebd5,
  "microsoft": \ebd6,
  "microsoft-edge": \ebd7,
  "minetest": \ebd8,
  "minutemailer": \ebd9,
  "mix": \ebda,
  "mixcloud": \ebdb,
  "mixer": \ebdc,
  "mojang": \ebdd,
  "monero": \ebde,
  "mongodb": \ebdf,
  "monkeytie": \ebe0,
  "monogram": \ebe1,
  "monzo": \ebe2,
  "moo": \ebe3,
  "mozilla": \ebe4,
  "mozilla-firefox": \ebe5,
  "musescore": \ebe6,
  "mxlinux": \ebe7,
  "myspace": \ebe8,
  "mysql": \ebe9,
  "nativescript": \ebea,
  "nec": \ebeb,
  "neo4j": \ebec,
  "netflix": \ebed,
  "netlify": \ebee,
  "next-js": \ebef,
  "nextcloud": \ebf0,
  "nextdoor": \ebf1,
  "nginx": \ebf2,
  "nim": \ebf3,
  "nintendo": \ebf4,
  "nintendo-3ds": \ebf5,
  "nintendo-gamecube": \ebf6,
  "nintendo-switch": \ebf7,
  "node-js": \ebf8,
  "node-red": \ebf9,
  "nodemon": \ebfa,
  "nokia": \ebfb,
  "notion": \ebfc,
  "npm": \ebfd,
  "nucleo": \ebfe,
  "nuget": \ebff,
  "nuxt-js": \ec00,
  "nvidia": \ec01,
  "ocaml": \ec02,
  "octave": \ec03,
  "octopus-deploy": \ec04,
  "oculus": \ec05,
  "odnoklassniki": \ec06,
  "open-access": \ec07,
  "open-collective": \ec08,
  "open-id": \ec09,
  "open-source-initiative": \ec0a,
  "openstreetmap": \ec0b,
  "opensuse": \ec0c,
  "openvpn": \ec0d,
  "opera": \ec0e,
  "opsgenie": \ec0f,
  "oracle": \ec10,
  "orcid": \ec11,
  "origin": \ec12,
  "osi": \ec13,
  "osmc": \ec14,
  "overcast": \ec15,
  "overleaf": \ec16,
  "ovh": \ec17,
  "pagekit": \ec18,
  "palantir": \ec19,
  "pandora": \ec1a,
  "pantheon": \ec1b,
  "patreon": \ec1c,
  "paypal": \ec1d,
  "periscope": \ec1e,
  "php": \ec1f,
  "picarto-tv": \ec20,
  "pinboard": \ec21,
  "pingdom": \ec22,
  "pingup": \ec23,
  "pinterest": \ec24,
  "pinterest-p": \ec25,
  "pivotaltracker": \ec26,
  "plangrid": \ec27,
  "player-me": \ec28,
  "playerfm": \ec29,
  "playstation": \ec2a,
  "playstation3": \ec2b,
  "playstation4": \ec2c,
  "plesk": \ec2d,
  "plex": \ec2e,
  "pluralsight": \ec2f,
  "plurk": \ec30,
  "pocket": \ec31,
  "postgresql": \ec32,
  "postman": \ec33,
  "postwoman": \ec34,
  "powershell": \ec35,
  "prettier": \ec36,
  "prismic": \ec37,
  "probot": \ec38,
  "processwire": \ec39,
  "product-hunt": \ec3a,
  "proto-io": \ec3b,
  "protonmail": \ec3c,
  "proxmox": \ec3d,
  "pypi": \ec3e,
  "python": \ec3f,
  "pytorch": \ec40,
  "qgis": \ec41,
  "qiita": \ec42,
  "qq": \ec43,
  "qualcomm": \ec44,
  "quantcast": \ec45,
  "quantopian": \ec46,
  "quarkus": \ec47,
  "quora": \ec48,
  "qwiklabs": \ec49,
  "qzone": \ec4a,
  "r": \ec4b,
  "radiopublic": \ec4c,
  "rails": \ec4d,
  "raspberry-pi": \ec4e,
  "react": \ec4f,
  "read-the-docs": \ec50,
  "readme": \ec51,
  "realm": \ec52,
  "reason": \ec53,
  "redbubble": \ec54,
  "reddit": \ec55,
  "reddit-alt": \ec56,
  "redhat": \ec57,
  "redis": \ec58,
  "redux": \ec59,
  "renren": \ec5a,
  "reverbnation": \ec5b,
  "riot": \ec5c,
  "ripple": \ec5d,
  "riseup": \ec5e,
  "rollup-js": \ec5f,
  "roots": \ec60,
  "roundcube": \ec61,
  "rss": \ec62,
  "rstudio": \ec63,
  "ruby": \ec64,
  "rubygems": \ec65,
  "runkeeper": \ec66,
  "rust": \ec67,
  "safari": \ec68,
  "sahibinden": \ec69,
  "salesforce": \ec6a,
  "saltstack": \ec6b,
  "samsung": \ec6c,
  "samsung-pay": \ec6d,
  "sap": \ec6e,
  "sass": \ec6f,
  "sass-alt": \ec70,
  "saucelabs": \ec71,
  "scala": \ec72,
  "scaleway": \ec73,
  "scribd": \ec74,
  "scrutinizerci": \ec75,
  "seagate": \ec76,
  "sega": \ec77,
  "sellfy": \ec78,
  "semaphoreci": \ec79,
  "sensu": \ec7a,
  "sentry": \ec7b,
  "server-fault": \ec7c,
  "shazam": \ec7d,
  "shell": \ec7e,
  "shopify": \ec7f,
  "showpad": \ec80,
  "siemens": \ec81,
  "signal": \ec82,
  "sina-weibo": \ec83,
  "sitepoint": \ec84,
  "sketch": \ec85,
  "skillshare": \ec86,
  "skyliner": \ec87,
  "skype": \ec88,
  "slack": \ec89,
  "slashdot": \ec8a,
  "slickpic": \ec8b,
  "slides": \ec8c,
  "slideshare": \ec8d,
  "smashingmagazine": \ec8e,
  "snapchat": \ec8f,
  "snapcraft": \ec90,
  "snyk": \ec91,
  "society6": \ec92,
  "socket-io": \ec93,
  "sogou": \ec94,
  "solus": \ec95,
  "songkick": \ec96,
  "sonos": \ec97,
  "soundcloud": \ec98,
  "sourceforge": \ec99,
  "sourcegraph": \ec9a,
  "spacemacs": \ec9b,
  "spacex": \ec9c,
  "sparkfun": \ec9d,
  "sparkpost": \ec9e,
  "spdx": \ec9f,
  "speaker-deck": \eca0,
  "spectrum": \eca1,
  "spotify": \eca2,
  "spotlight": \eca3,
  "spreaker": \eca4,
  "spring": \eca5,
  "sprint": \eca6,
  "squarespace": \eca7,
  "stackbit": \eca8,
  "stackexchange": \eca9,
  "stackoverflow": \ecaa,
  "stackpath": \ecab,
  "stackshare": \ecac,
  "stadia": \ecad,
  "statamic": \ecae,
  "staticman": \ecaf,
  "statuspage": \ecb0,
  "steam": \ecb1,
  "steem": \ecb2,
  "steemit": \ecb3,
  "stitcher": \ecb4,
  "storify": \ecb5,
  "storybook": \ecb6,
  "strapi": \ecb7,
  "strava": \ecb8,
  "stripe": \ecb9,
  "stripe-s": \ecba,
  "stubhub": \ecbb,
  "stumbleupon": \ecbc,
  "styleshare": \ecbd,
  "stylus": \ecbe,
  "sublime-text": \ecbf,
  "subversion": \ecc0,
  "superuser": \ecc1,
  "svelte": \ecc2,
  "svg": \ecc3,
  "swagger": \ecc4,
  "swarm": \ecc5,
  "swift": \ecc6,
  "symantec": \ecc7,
  "symfony": \ecc8,
  "synology": \ecc9,
  "t-mobile": \ecca,
  "tableau": \eccb,
  "tails": \eccc,
  "tapas": \eccd,
  "teamviewer": \ecce,
  "ted": \eccf,
  "teespring": \ecd0,
  "telegram": \ecd1,
  "telegram-plane": \ecd2,
  "tencent-qq": \ecd3,
  "tencent-weibo": \ecd4,
  "tensorflow": \ecd5,
  "terraform": \ecd6,
  "tesla": \ecd7,
  "the-mighty": \ecd8,
  "the-movie-database": \ecd9,
  "tidal": \ecda,
  "tiktok": \ecdb,
  "tinder": \ecdc,
  "todoist": \ecdd,
  "toggl": \ecde,
  "topcoder": \ecdf,
  "toptal": \ece0,
  "tor": \ece1,
  "toshiba": \ece2,
  "trainerroad": \ece3,
  "trakt": \ece4,
  "travisci": \ece5,
  "treehouse": \ece6,
  "trello": \ece7,
  "tripadvisor": \ece8,
  "trulia": \ece9,
  "tumblr": \ecea,
  "twilio": \eceb,
  "twitch": \ecec,
  "twitter": \eced,
  "twoo": \ecee,
  "typescript": \ecef,
  "typo3": \ecf0,
  "uber": \ecf1,
  "ubisoft": \ecf2,
  "ublock-origin": \ecf3,
  "ubuntu": \ecf4,
  "udacity": \ecf5,
  "udemy": \ecf6,
  "uikit": \ecf7,
  "umbraco": \ecf8,
  "unity": \ecf9,
  "unreal-engine": \ecfa,
  "unsplash": \ecfb,
  "untappd": \ecfc,
  "upwork": \ecfd,
  "usb": \ecfe,
  "v8": \ecff,
  "vagrant": \ed00,
  "venmo": \ed01,
  "verizon": \ed02,
  "viadeo": \ed03,
  "viber": \ed04,
  "vim": \ed05,
  "vimeo": \ed06,
  "vimeo-v": \ed07,
  "vine": \ed08,
  "virb": \ed09,
  "visa": \ed0a,
  "visual-studio": \ed0b,
  "visual-studio-code": \ed0c,
  "vk": \ed0d,
  "vlc": \ed0e,
  "vsco": \ed0f,
  "vue-js": \ed10,
  "wattpad": \ed11,
  "weasyl": \ed12,
  "webcomponents-org": \ed13,
  "webpack": \ed14,
  "webstorm": \ed15,
  "wechat": \ed16,
  "whatsapp": \ed17,
  "when-i-work": \ed18,
  "wii": \ed19,
  "wiiu": \ed1a,
  "wikipedia": \ed1b,
  "windows": \ed1c,
  "wire": \ed1d,
  "wireguard": \ed1e,
  "wix": \ed1f,
  "wolfram": \ed20,
  "wolfram-language": \ed21,
  "wolfram-mathematica": \ed22,
  "wordpress": \ed23,
  "wpengine": \ed24,
  "x-pack": \ed25,
  "xbox": \ed26,
  "xcode": \ed27,
  "xero": \ed28,
  "xiaomi": \ed29,
  "xing": \ed2a,
  "xrp": \ed2b,
  "xsplit": \ed2c,
  "y-combinator": \ed2d,
  "yahoo": \ed2e,
  "yammer": \ed2f,
  "yandex": \ed30,
  "yarn": \ed31,
  "yelp": \ed32,
  "youtube": \ed33,
  "zalando": \ed34,
  "zapier": \ed35,
  "zeit": \ed36,
  "zendesk": \ed37,
  "zerply": \ed38,
  "zillow": \ed39,
  "zingat": \ed3a,
  "zoom": \ed3b,
  "zorin": \ed3c,
  "zulip": \ed3d,
) !default;